In [6]:
from bs4 import BeautifulSoup

In [7]:
import requests

In [16]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
headers = {
    "User-Agent": "MyScraper/1.0 (beniromenda@gmail.com) Python/requests"
}

In [19]:
page=requests.get(url,headers=headers,timeout=10)
soup=BeautifulSoup(page.text,'html')

In [22]:
table=soup.find_all('table')[0]

In [27]:
world_titles=table.find_all('th')

In [28]:
world_table_titles=[title.text.strip() for title in world_titles]
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [29]:
import pandas as pd

In [38]:
df=pd.DataFrame(columns=world_table_titles)

In [39]:
column_data=table.find_all('tr')

In [40]:
for row in column_data[1: ]:
    row_data=row.find_all('td')
    individual_row_data=[data.text.strip() for data in row_data]
    length=len(df)
    df.loc[length]= individual_row_data

In [41]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"680,985",5.1%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"637,959",11.0%,"1,556,000","Seattle, Washington"
2,3,UnitedHealth Group,Healthcare,"400,278",7.7%,"400,000","Minnetonka, Minnesota"
3,4,Apple,Electronics industry,"391,035",2.0%,"164,000","Cupertino, California"
4,5,CVS Health,Healthcare,"372,809",4.2%,"259,500","Woonsocket, Rhode Island"
...,...,...,...,...,...,...,...
95,96,General Dynamics,Aerospace and defense,"47,716",12.9%,"117,000","Reston, Virginia"
96,97,Coca-Cola,Beverage,"47,061",2.9%,"69,700","Atlanta, Georgia"
97,98,TIAA,Financials,"46,946",2.6%,"15,623","New York City, New York"
98,99,The Travelers Companies,Insurance,"46,423",12.2%,"34,000","New York City, New York"
99,100,Eli Lilly,Pharmaceutical industry,"45,043",32.0%,"47,000","Indianapolis, Indiana"

In [42]:
#can be exported